<div class="container">
  <div class="user-card">
    <div class="user-icon">
      <img src="assets/user.png" alt="User Icon" />
    </div>
    <div class="user-info">
      <label>Nom d'utilisateur</label>
      <div class="field-value">JohnDoe</div>
      <label>Mot de passe</label>
      <div class="field-value">
        *********
        <span class="eye-icon" (click)="togglePasswordVisibility()"><img src="assets/open-eye-icon.png" alt="Eye Icon" /></span>
      </div>
    </div>
  </div>
</div>
