.containerhead {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: left;
  margin-top: 1.5rem;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(61, 61, 133);
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.ConventionBtn {
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #61bfad;
  color: #fff;
  border: none;
  font-size: 15px;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 0 2px rgba(97, 191, 173, 0.5);
  margin-right: 20px;
}

.ConventionBtn:hover {
  background-color: #52ac9f;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  max-height: 100vh;
}


///////////////////////////////////////////////////////////////////////////////////////////


   

.gray-box-container {
  background-color: #3e3d3d23;
  margin-top: 5%;
  padding: 10%;
  margin-right: 5%;
}



.containerhead {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align content to the start (left) */
}

.title {
  text-align: left;
  margin-top: 1.5rem;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(61, 61, 133);
}

.search-bar {
  display: flex;
  justify-content: flex-end; /* Align content to the end (right) */
  align-items: center;
  padding: 2rem;
}

.UtilisateurBtn {
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #2aa18b;
  color: #659e3d;
  border: none;
  font-size: 15px;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 0 2px rgba(97, 191, 173, 0.5);
  margin-left: 20px; /* Use margin-left instead of margin-right */
}

.UtilisateurBtn:hover {
  background-color: #52ac9f;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  max-height: 100vh;
}

.active-button {
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #2aa18b; /* Green color for active state */
  color: #fff;
  border: none;
  font-size: 15px;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 0 2px rgba(97, 191, 173, 0.5);
}

.inactive-button {
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #e74c3c; /* Red color for inactive state */
  color: #fff;
  border: none;
  font-size: 15px;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 0 2px rgba(231, 76, 60, 0.5);
}

.active-button:hover {
  background-color: #52ac9f;
}

.inactive-button:hover {
  background-color: #ff665c;
}


