.nav {
  background-color: rgb(255, 255, 255);
  height: 10vh;
  box-shadow: 2.5px 2.5px 10px 0 rgba(249, 242, 242, 0.873);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  width: 90%;
}

.navbar-container {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Add margin-right to create space between circle and hello username */
}

.circle {
  background-color: #ccc;
  border-radius: 50%;
  text-align: center;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.initials {
  font-size: 1.3rem;
  line-height: 3rem;
}

.arrowDown {
  font-size: 2.2rem;
  cursor: pointer;
}

.myMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mat-list-item:hover {
  background-color: rgba(235, 238, 239, 0.974);
  cursor: pointer;
}

::ng-deep .mat-menu-panel {
  padding-right: 10px !important;
  max-width: 200px !important;
}

.hello-username {
  font-size: 2vh;
  color: #0093dd;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  margin-top: 10px; 
  margin-right: 10px;
}
