@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.cal-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.calendar-nav {
  margin-bottom: 10px;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.day {
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.day.highlight {
  background-color: #3DAE2B;
  color: #fff;
}
