.container {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 90%;
}

.content {
  flex: 1;
  background-color: #ffffff;
}

.container.collapsed .content {
  margin-left: 65px; 
  
}

.title {
  margin-top: 2rem;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(75, 133, 61);
  font-weight: bold;
}
