.container {
  display: flex;
  width: auto;
  overflow: hidden;
  transition: margin-left 0.3s ease-in-out;
}

.content {
  flex: 1;
  background-color: #ffffffcb;
  margin-left: 200px;
}

.container.collapsed .content {
  margin-left: 65px; 
}

.title {
  margin-top: 2rem;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(75, 133, 61);
  font-weight: bold;
}
