<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="login.component.scss">
</head>

<body>
  <div class="container">
    <div class="logo-container">
      <div class="triangle left"></div>
      <div class="triangle right"></div>
      <div class="triangle inverted"></div>
      <div class="triangle top"></div>
      <div class="bigger"></div>
      <div class="text">CNI</div>
      <div class="textshadow">CNI</div>
      <div class="centre">CENTRE NATIONALE DE L'INFORMATIQUE</div>
      <div class="arabic">المركز الوطني للإعلامية</div>
    </div>
    
    
    <div class="form-container">
      <div class="example-form">
        <form [formGroup]="loginForm">
          <div>
            <div style="display: flex; flex-direction: column;margin-bottom: 2rem;">
              <label style="margin-bottom: 0.5rem;">Nom d'utilisateur:</label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input formControlName="username" matInput>
              </mat-form-field>
              <div *ngIf="loginForm.get('username')!.errors" style="margin-top: -1.5rem">
                <small style="color: red; margin-top: -1.5rem"
                  *ngIf="loginForm.get('username')!.hasError('required') && loginForm.get('username')!.touched">Le champ nom d'utilisateur est obligatoire</small>
              </div>
            </div>
            <div style="display: flex; flex-direction: column">
              <label style="margin-bottom: 0.5rem;">Mot de passe </label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input formControlName="password" matInput type="password" ngModel minlength="6">
              </mat-form-field>
              <small style="color: red; margin-top: -1.5rem" *ngIf="loginForm.get('password')?.hasError('minlength')">Field
                password must contain at least 6 characters</small>
            </div>
            <button (click)="login()" class="btn blue" mat-raised-button>Se connecter</button>
            <div *ngIf="errorMessage" style="color: red; margin-top: 1rem;">{{ errorMessage }}</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
