.cards {
  position: fixed;
  top: 0;
  background: #b9bff8;
  height: 100vh;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  width: 200px;
  margin-top: 0;
  left: 0;
  z-index: 1;
}
.logo {
  width: 90%; 
  height: auto; 
}


.cards.collapsed {
  width: 65px;
  background-color: #86bbdf;
  border-radius: 0;
}

.buttons {
  margin-top: 8vh;
}

.btn {
  border: none;
  text-align: start;
  text-decoration: none;
  border-radius: 0.5rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  width: 21vh;
  height: 6vh;
  margin: 3vh 0.5vh;
  color: #f8f0f0;
  font-size: 2vh;
  padding-left: 0.7rem;
  display: flex;
  align-items: center;
  background: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-content {
  display: flex;
  align-items: center;
}

.btn span {
  margin-left: 0.7rem; 
}

.btn.active {
  background-color: hsla(243, 84%, 22%, 0.336); 
}

.cards.collapsed:hover .btn:not(.active) {
  background-color: hsla(243, 84%, 22%, 0.336);
}

.cards:not(.collapsed):hover .btn:not(.active) {
  background-color: hsla(243, 84%, 22%, 0.411);
  color: #ffffff; 
}

.cards:not(:hover) .btn:not(.active) {
  background-color: transparent; 
}

@media only screen and (max-width: 1050px) {
  .cards {
    width: auto;
    margin-left: 3vw;
  }
  .btn {
    width: 19vw;
  }
  .image1 {
    width: 15vw;
    margin: 2vw 2.5vw;
  }
}
.btn-compte {
  margin-top: 39vh; 
}


@media only screen and (max-width: 900px) {
  .cards {
    height: auto;
    width: auto; /* Changed from min-content */
    margin-top: 0;
    margin-left: 0;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
    border-radius: 0;
  }
  .buttons {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    white-space: nowrap;
    transition: margin-left 0.3s ease;
    margin-left: 0;
  }

  .buttons.hidden {
    margin-left: -150px;
  }

  .btn {
    width: 14vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0rem;
  }
  
  .btn:hover:not(.collapsed),
  .btn:focus:not(.collapsed) {
    text-align: center;
  }
  .btn:hover:not(.collapsed),
  .btn:focus:not(.collapsed),
  .active:not(.collapsed) {
    text-align: center;
    justify-content: center;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .btn:hover:not(.collapsed) span .active,
  .btn:focus:not(.collapsed) span .active {
    padding-left: 0;
  }

  .image1 {
    width: 6.5rem;
    margin: 1vh;
  }
}

@media only screen and (max-width: 600px) {
  .cards.collapsed {
    width: 65px;
  }

  .buttons.hidden {
    margin-left: -200px;
  }
}
