<div class="containerhead">
  <div class="title">
    <a>Liste des factures</a>
  </div>


 
<div class="container">
  <div class="gray-box-container">

    <div class="note-container">
      <p class="note-message">
  <p>Note: Veuillez noter qu'un e-mail de rappel sera envoyé à votre adresse e-mail enregistrée avant la date d'échéance de chaque facture. 
    Veuillez vérifier régulièrement votre e-mail pour rester à jour.</p>
  </div>
  
    <table mat-table [dataSource]="dataSource"  class="table" >

      <!-- StructureLibelle Column -->
      <ng-container matColumnDef="structureLibelle">
        <th mat-header-cell *matHeaderCellDef>Structure</th>
        <td mat-cell *matCellDef="let row">{{ row.structureLibelle }}</td>
      </ng-container>

      <!-- DueDatefct Column -->
      <ng-container matColumnDef="dueDatefct">
        <th mat-header-cell *matHeaderCellDef>Date d'echeance</th>
        <td mat-cell *matCellDef="let row">{{ row.dueDatefct }}</td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Montant/DT</th>
        <td mat-cell *matCellDef="let row">{{ row.amount }}</td>
      </ng-container>

      <!-- Period Column -->
      <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef>Periode</th>
        <td mat-cell *matCellDef="let row">{{ row.period }}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">
          {{ row.status === 'pending' ? 'en attente' : (row.status === 'paid' ? 'payé' : row.status) }}
        </td>
      </ng-container>
      

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-button (click)="paid(row.id)" class="btn btn-primary custom-button">
            Marquer comme payé
          </button>
        </td>
      </ng-container>
      
      

      <!-- Table Header -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <!-- Table Rows -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      
      <!-- Empty Row -->
      
      
    </table>
    <mat-paginator [hidePageSize]="true" aria-label="Select page of periodic elements"></mat-paginator>
  </div>
</div>

