.containerhead {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: left;
  margin-top: 1.5rem;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(61, 61, 133);
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.ConventionBtn {
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #61bfad;
  color: #fff;
  border: none;
  font-size: 15px;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 0 2px rgba(97, 191, 173, 0.5);
  margin-right: 20px;
}

.ConventionBtn:hover {
  background-color: #52ac9f;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  max-height: 100vh;
}


///////////////////////////////////////////////////////////////////////////////////////////

.select-field {
  margin-bottom: 5%;
}

.button-container {
  margin-top: 50px;
}

.form-field {
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.select,
.input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submit-button {
  color: white;
}

.mat-horizontal-stepper-header-container {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
}

.mat-step-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #ddd;
  border-radius: 4px;
}

.mat-step-header .mat-step-icon {
  background-color: #888;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
}

.mat-step-header .mat-step-icon .mat-icon {
  font-size: 20px;
}

.mat-step-header .mat-step-icon .mat-icon svg {
  width: 20px;
  height: 20px;
}


.error-message {
  color: #ff0000; 
  font-size: 14px; 
  margin-top: 5px; 

}



.containerhead {
  margin-top: 1%;
}

.gray-box-container {
  background-color: #3e3d3d23;
  margin-top: 5%;
  padding: 10%;
  margin-right: 10%;
}

.table {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 1%;
  margin-right: 0%;
  overflow-x: auto;
}

.note-container {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}

.note-message {
  font-size: 16px;
  margin-bottom: 10px;
}

.note-remainder {
  font-size: 18px;
  font-weight: bold;
}

.btn {
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border-color: #007bff;
}

.btn:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.mat-paginator {
  margin-top: 5px;
}
