<div _ngcontent-ng-c1168945719="" style="margin-top: 2.5rem; margin-bottom: -1rem; font-size: large; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(61, 61, 133);"> /home/manageapplication </div>

<div style="display: flex; justify-content: flex-start; flex-direction: row; margin-top: 2rem">
  
  <mat-form-field>
    <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>
  <button mat-raised-button class="addBtnColor" (click)="openDialog()" >+ Ajouter nouvelle application </button>
</div>


  <p-dialog header="Nouvelle Application" [(visible)]="visible"  [modal]="true" [style]="{width: '40vw', height: '60vh'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <form [formGroup]="applicationForm" >
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <div style="display: flex; flex-direction: column;align-items: center;">
        <label class="labelMarge">Code de l'application</label>
        <input formControlName="code" style="width: 22rem;" type="text" pInputText>
      </div><br>
      <div style="display: flex; flex-direction: column;align-items: center;">
          <label class="labelMarge">Libellé de l'application</label>
          <input formControlName="libelle" style="width: 22rem;" type="text" pInputText>
      </div>
      <div style="display: flex; flex-direction: column;align-items: center;">
          <label class="labelMarge">Prix de l'application</label>
          <input formControlName="prix" style="width: 22rem;" type="text" pInputText>
      </div>
      
    </div>
  
  </form>
  <ng-template pTemplate="footer">
    <button pButton icon="pi pi-times" (click)="visible = false"  class="p-button-danger" label="Cancel"></button>
    <button pButton icon="pi pi-check" (click)="submitApplication()" label="Submit" ></button>
  </ng-template>
</p-dialog>

  <div class="container">
    <table mat-table [dataSource]="dataSource">

      <!-- Header Definition -->
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Code Application </th>
        <td mat-cell *matCellDef="let app">{{ app.code }}</td>
      </ng-container>
    
      <ng-container matColumnDef="libelle">
        <th mat-header-cell *matHeaderCellDef> Libellé Application </th>
        <td mat-cell *matCellDef="let app">{{ app.libelle }}</td>
      </ng-container>
    
      <ng-container matColumnDef="prix">
        <th mat-header-cell *matHeaderCellDef> Prix Application </th>
        <td mat-cell *matCellDef="let app">{{ app.prix }}</td>
      </ng-container>
    
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let app">
          <!-- Action buttons for each row -->
         
          <button mat-icon-button color="warn" (click)="openDeleteDialog(app.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <!-- Column Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    
    </table>

    
    <p-dialog [(visible)]="delete" header="Confirm Delete" [style]="{width: '40vw', height: '30vh'}">
      <div> vous les vous vraiment supprimer cette application ?</div>
      <ng-template pTemplate="footer">
        <button  (click)="delete = false" pButton pRipple type="button" icon="pi pi-times" class="p-button-danger" label="Cancel"></button>
        <button (click) = "deleteApp()" pButton label="delete" ></button>
      </ng-template>
    </p-dialog>


         
     
    
 




 

          
        
          
           
      



      

